# IntelliJ project files
.idea/
*.iml
*.ipr

# Build outputs
out/
### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# Maven build directory
target/
### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

# Mac system files
### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

# Windows system files
Thumbs.db
desktop.ini
/src/main/resources/com/stylz/app/key.json